<%= form_with url: "/", method: :get, local: true do |f| %>
  <%= f.label "Search Merchants" %>
  <%= f.text_field "Search Merchants" %>
  <%= f.submit "Submit" %>
<% end %>

<% @merchants.each do |merchant| %>
  <p> <%= merchant.name %> </p>
<% end %>
