
<%#binding.pry %>
<%= @merchant.name %>
<br><br>

<% @merch_items.each do |item|%>

<li>name: <%=link_to "#{item.name}", "/items/#{item.id}"%>, ID: <%= item.id%>,  Description: <%= item.description%>, Price: <%= item.unit_price%></li>

<%end%>
