<% if @merchant %>
  <h1><%= "Merchant #{@merchant.id}" %></h1>
  <div class="merchant_attributes">
    <h3><%= "Name: #{@merchant.name}" %></h3>
    <h3><%= "ID: #{@merchant.id}" %></h3>
    <div class="items">
      <h3>Items:</h3>
      <ul>
        <% @items.each do |item| %>
          <div class=<%= "item_#{item.id}" %>>
            <li><%= link_to "#{item.name}", "/items/#{item.id}" %></li>
          </div>
        <% end %>
      </ul>

    </div>
  </div>
<% else %>
  <h3><%= "Error: Merchant Not Found" %></h3>
<% end %>
