<div class="merchant">
  <h1><%= @merchant[:attributes][:name] %></h1>
  <h3>My Items</h3>
  <% @merchant_items.each do  |item| %>
<section id="item_id_<%= item.id %>">
name: <%= item.name %><br>
description: <%= item.description %><br>
unit price: <%= item.unit_price %><br><br>
</section>
<% end %>
</div>
