<h1>Item: <%= @item.name %></h1>

<p>Item ID: <%= @item.id %></p>
<p>Item Description: <%= @item.description %></p>
<p>Unit Price: <%= @item.unit_price %></p>
<p>Merchant ID: <%= @item.merchant_id %></p>
